on early-init
    exec - root -- /vendor/bin/qrtr-cfg 1
    start qrtr-ns

on post-fs
    start pd_mapper

on post-fs-data
    mkdir /data/vendor
    mkdir /data/vendor/tmp
    mkdir /data/vendor/readwrite
    mkdir /data/vendor/readonly
    mkdir /data/vendor/readonly/firmware
    mkdir /data/vendor/readonly/firmware/image
    write /sys/class/firmware/timeout 1
    start tqftpserv
    start rmtfs

on shutdown
    stop rmtfs
