import init.${ro.hardware}.common.rc

on init
    # Initialize cpusets to boot-time values
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3

    # msm8916 doesn't support compression (for now, at least)
    export MINIGBM_DEBUG nocompression

on property:sys.boot_completed=1
    # update cpuset now that processors are up
    # Foreground should contain most cores (3 is reserved for top-app)
    write /dev/cpuset/foreground/cpus 0-2

    # top-app gets all cpus (including reserved #3)
    write /dev/cpuset/top-app/cpus 0-3

    #background contains a small subset (generally one little core)
    write /dev/cpuset/background/cpus 0

    # add system-background cpuset, a new cpuset for system services
    # that should not run on larger cores
    # system-background is for system tasks that should only run on
    # little cores, not on bigs to be used only by init
    write /dev/cpuset/system-background/cpus 0-1
